<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginWill</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
    <h1>Login</h1>
    <a href="/">Voltar para tela principal</a>
    <a href="/register">Ainda não possui um usuário? Clique aqui!</a>
    <form action="/auth/login" method="post">
        <input type="text" name="email" id="email" placeholder="Insira seu e-mail" autocomplete="off">
        <input type="password" name="password" id="password" placeholder="Insira sua senha" autocomplete="off">
        <button type="submit" class="loginBtn" id="loginBtn">Entrar</button>
    </form>
</body>
</html>